<template>
  <div class="container-flex flex flex-direction-column">
    <h1>Informe um período de datas.</h1>
    <form class="flex gap">
      <label for="initialDate">
        Data Inicial
          <input type="date" ref="initialDate" id="initialDate" v-model="data.initialDate" @change.prevent="validateDate">
      </label>
      <label for="finalDate">
        Data Final
          <input type="date" ref="finalDate" id="finalDate" v-model="data.finalDate" @change.prevent="validateDate">
      </label>
    </form>
    <p v-if="error.length > 0">{{error}}</p>
  </div>

</template>

<script>

import dataValidatorMixin from '@/mixins/dateValidatorMixin'

export default {
  mixins:[dataValidatorMixin],
  data () {
    return {
      error:''
    }
  }
}
</script>

<style scoped>
p {
  color: #b33434;
}
.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.gap {
  gap:15px
}
.container-flex {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
</style>
