<template>
  <div id="app">
    <Form-test />
  </div>
</template>

<script>
import FormTest from '@/components/FormTest.vue'

export default {
  name: 'App',
  components: {
    FormTest
  }
}
</script>

<style>
#app {
  font-family: 'ABeeZee', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
